
input[type=text] {
    width: 50%;
    padding: 10px 10px;
    margin: 8px 0;
    border: 2px solid rgb(199, 213, 252);
    box-shadow: 0 0 0 1px rgba(177, 229, 250, 0.486);
    border-radius: 4px;
}   

input[type=date] {
    padding: 10px 10px;
    margin: 8px 0;
    border: 2px solid rgb(199, 213, 252);
    box-shadow: 0 0 0 1px rgba(177, 229, 250, 0.486);
    border-radius: 4px;
}

input[type=number] {
    padding: 10px 10px;
    margin: 8px 0;
    border: 2px solid rgb(199, 213, 252);
    box-shadow: 0 0 0 1px rgba(177, 229, 250, 0.486);
    border-radius: 4px;
}

button {
    padding: 12px 28px;
    border-radius: 1px;
}

input:focus {
    border: 2px solid rgb(75, 110, 204);
    box-shadow: 0 0 0 1px rgba(177, 229, 250, 0.486);
}

.doubleInputContainer {
  display: flex;
  gap: 10px; /* espace entre les deux inputs */
  justify-content: space-between;
}

.doubleSelection {
  flex: 1; /* pour que chaque input prenne la même largeur */
  padding: 10px 10px;
  border: 2px solid rgb(199, 213, 252);
  box-shadow: 0 0 0 1px rgba(177, 229, 250, 0.486);
  border-radius: 4px;
}